/*======================================
//--//-->   STYLES GENERALES
======================================*/

body {
    font-family: 'Poppins', sans-serif;
    color: #555555;
  }
  
body, html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

a {
  color: #000000;
  transition: all .5s ease;
}

a:hover {
  color: #2eca6a;
  text-decoration: none;
}

.link-two {
  color: #000000;
  transition: all .5s ease;
}

.link-two:hover {
  text-decoration: underline;
  color: #000000;
}

.link-one {
  color: #000000;
  transition: all .5s ease;
}

.link-one:hover {
  color: #000000;
  text-decoration: none;
}

.link-icon {
  color: #000000;
  font-weight: 500;
}

.link-icon span {
  font-size: 14px;
  padding-left: 4px;
  vertical-align: middle;
}

.link-a {
  color: #ffffff;
  text-decoration: none;
}

.link-a:hover {
  color: #ffffff;
  text-decoration: none;
}

.link-a span {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}

.text-brand {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
}

.color-a {
  color: #000000;
}

.color-b {
  color: #2eca6a;
}

.color-d {
  color: #adadad;
}

.color-text-a {
  color: #555555;
}

.no-margin {
  margin: 0;
}
  
/*------/ Bg Image /------*/

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/*------/ Overlay /------*/

.overlay-a {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #2eca6a;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------/ Intro Single /------*/

.intro-index {
  padding: 5rem 0 3rem;
}

.intro-index .title-single-box {
  padding: 1rem 0 1rem 2rem;
}

.intro-index .title {
  margin: 2rem;
  text-align: center;
}
  
.intro-index .title-single-box {
  border-left: 3px solid #2eca6a;
}

.intro-index .title-single-box .title-single {
  font-weight: 600;
  font-size: 2.2rem;
}

.intro-index .title .title-single {
  font-weight: 600;
  font-size: 4rem;
}

.intro-index .breadcrumb-box {
  padding: 1rem 0 0 .5rem;
}

.intro-index .breadcrumb {
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
}

.intro-index .login-signup-button {
  padding: 1rem;
}

@media (min-width: 576px) {
  .intro-index {
      padding: 5rem 0 3rem;
      }
}

@media (min-width: 768px) {
  .intro-index {
  padding: 10rem 0 3rem;
  }

  .link-a {
    font-size: .9rem;
  }

  .link-a span {
    font-size: 1.5rem;
  }

  .intro-index .title-single-box .title-single {
    font-size: 2.1rem;
  }

  .intro-index .title .title-single {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {

  .intro-index {
      padding: 12rem 0 3rem;
  }   

  .link-a {
    font-size: 1rem;
  }

  .link-a span {
    font-size: 18px;
  }

  .list-a li {
    width: 33.333%;
  }

  .intro .intro-title-top {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .intro .intro-title {
    font-size: 4.5rem;
  }

  .intro .intro-subtitle.intro-price {
    padding-top: 3rem;
  }

  .intro-index .title-single-box .title-single {
    font-size: 2.5rem;
  }

  .intro-index .title .title-single {
    font-size: 3.5rem;
  }
}  