{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
        <div class="title-single-box">
            <h1 class="title-single">Our service identifies agricultural pests, Ontario farmers better manage their farms!</h1>
        </div>
        </div>
    </div>
</div>

<!--/ About Star /-->
<section class="section-about">
    <div class="container">
        <div class="row">
        <div class="col-sm-12">
            <div class="about-img-box">
            <img src="./../static/img/login-bg.jpg" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
            <h1 class="sinse-title">We build visual recognition artificial intelligence platforms for the agricultural community who want to leverage data in order to efficiently run operations</h1>
            </div>
        </div>
        </div>
    </div>
</section>
    <!--/ About End /-->

        <!--/ Team Star /-->
  <section class="section-agents section-t8">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                  <h2 class="title-a">Meet Our Team</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
                    <div class="card-box-d">
                      <div class="card-img-d">
                        <img src="./../static/img/abhay.jpg" alt="" class="img-d img-fluid">
                      </div>
                      <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                          <div class="card-title-d align-self-center">
                            <h3 class="title-d">
                              Abhay Vatoo
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            <div class="col-md-3">
              <div class="card-box-d">
                <div class="card-img-d">
                  <img src="./../static/img/divya.jpg" alt="" class="img-d img-fluid">
                </div>
                <div class="card-overlay card-overlay-hover">
                  <div class="card-header-d">
                    <div class="card-title-d align-self-center">
                      <h3 class="title-d">
                        Divya Makkar
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-box-d">
                <div class="card-img-d">
                  <img src="./../static/img/janet.jpg" alt="" class="img-d img-fluid">
                </div>
                <div class="card-overlay card-overlay-hover">
                  <div class="card-header-d">
                    <div class="card-title-d align-self-center">
                      <h3 class="title-d">
                        Janet Song
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                    <div class="card-box-d">
                      <div class="card-img-d">
                        <img src="./../static/img/jeff.jpg" alt="" class="img-d img-fluid">
                      </div>
                      <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                          <div class="card-title-d align-self-center">
                            <h3 class="title-d">
                              Jeff Misner
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </section>
      <!--/ Team End /-->
{% endblock content %}


